.slider {
  float: left;
  position: relative;
  width:600px;
  height:300px;
  margin:2px;
  overflow: hidden;
  user-select: none;
  cursor: pointer;

}

.animate {
  position: absolute;
  height: 100%;
  width: 500%;
  transition: left 0.1s;
}

img {
  float: left;
  width: 600px;
  height: 100%;
}

@media (max-width: 1250px) and (min-width: 950px){
  .slider {
    width: 400px;}
  .img{
    width: 400px;
  }

}

@media screen and (max-width: 615px){
  .slider {
    width: 100%;}
  .img{
    width: 100%;
  }

}